---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom styles (everything above is copied from https://github.com/mmistakes/minimal-mistakes/blob/0064dabea814bd3a2e203320a141c037fdcf67ea/assets/css/main.scss)
.social-icons {
  .fa-bluesky {
    color: #1083fe;
  }
}

.team__wrapper {
  @extend .feature__wrapper;
}

.team__item {
  @extend .feature__item;
  @extend .archive__item;
  text-align: center;
}

.team__item-header {
  @extend .archive__item-teaser;
}

.team__avatar {
  width: 50% !important;
  border-radius: 50%;
}

.team__item-body {
  @extend .archive__item-body;
}

.team__item-name {
  @extend .archive__item-title;
}

.team__item-role {
  font-style: italic;
  font-size: 1em;
}

.team__item-link {
  text-decoration: none !important;
  border:0px !important;
  outline:none;
  border-width: 0px;
  outline-width:0px;
  border-bottom: none;
}

