---
layout: splash
author_profile: false
---

<h1>Our working groups</h1>

{% include feature_row id="working-groups" %}

<h1>{{ site.data.ui-text[site.locale].recent_posts | default: "Latest news" }}</h1>

{% assign posts = site.posts | slice: 0, 3 %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

<a href="/blog/" class="btn btn--primary">View all</a>

<hr>

<h1>Our team</h1>

{% include team.html team_members=site.data.teams.latest %}
